<div class="d-flex justify-content-center my-2">
    <a href="/" class="text-dark text-decoration-none"><img alt="Artmajeur Logo" height="48px" src="{{ asset('img/artmajeur_logo_trans.svg') }}"></a>
</div>